$glitchOffset: 1.5px;
$glitchMidTop: 45%;
$glitchMidBottom: 66%;

.wrapper{
    position: relative;
    width: max-content;
}
.text{
    color: var(--c-heading-text);
    font-size: var(--fs-hero-large);
    font-family: var(--font-mono-main);

}

.two, .three{
    position: absolute;
    top:0;
    left: 0;
}

.one{
    clip-path: polygon(0% 0%, 100% 0%, 100% $glitchMidTop, 0% $glitchMidTop);
    z-index: 3;
}

.two{
    clip-path: polygon(0% ($glitchMidTop - 5), 100% ($glitchMidTop - 5), 100% $glitchMidBottom, 0% $glitchMidBottom);
    z-index: 2;
}

.three{
    clip-path: polygon(0% ($glitchMidBottom - 5), 100% ($glitchMidBottom - 5), 100% 100%, 0% 100%);
    z-index: 1;
}

.text[data-glitch="left"]:not(.two), .text[data-glitch="left"]:not(.two){
    text-shadow: 
        0.019em 0 0 rgb(255, 0, 0),
        -0.009em -0.019em 0 rgb(0, 255, 0),
        0.009em 0.019em 0 rgb(0, 0, 255);
}

.text[data-glitch="left"]{
    transform: translateX($glitchOffset * -1);
}
.text[data-glitch="right"]{
    transform: translateX($glitchOffset);
}

@media only screen and (max-width: 550px) {
    .text{
        font-size: var(--fs-hero-small);
    }
}