html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--c-background);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --c-background: rgb(34, 34, 34);
  --c-background-open: 34,34,34;
  --c-heading-text: white;
  --c-body-text: white;

  --c-terminal-green: #A6D86D;
  --c-terminal-green-blur: #8eb85d;

  --c-terminal-text: #A6D86D;
  --c-terminal-text-blur: #8eb85d;
  --fs-standard-small: .8rem;
  --fs-standard: 1rem;
  --fs-standard-large: 1.25rem;

  --fs-heading-small: 1.536rem;
  --fs-heading: 1.935rem;
  --fs-heading-large: 2.441rem;

  --fs-hero-small: 3.052rem;
  --fs-hero: 3.815rem;
  --fs-hero-large: 4.768rem;

  --font-mono-main: 'Noto Sans Mono', monospace;


}

@keyframes typeIn{
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 400px) {
  html{
      font-size: 14px;
  }
}