@use "terminal";

@mixin carrotAnimateIn($name, $deg) {
    @keyframes #{$name} {
        0%{
            opacity: 0;
            transform: translate(0%, -50%) rotate(0deg);
        }
        45%{
            opacity: 1;
            transform: translate(-150%, -50%) rotate(0deg);
        }
        55%{
            transform: translate(-150%, -50%) rotate(0deg);
        }
        100%{
            transform: translate(-150%, -50%) rotate($deg);
        }
    }
}

@include carrotAnimateIn("topIn", 35deg);
@include carrotAnimateIn("bottomIn", -35deg);

.wrapper {
    z-index: 10;
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    span{
        position: relative;
    }
    ul {
        display: flex;
        text-decoration: none;
        gap: 2.5em;
        padding-right: 5%;
        li {
            position: relative;
            text-decoration: none;
            color: var(--c-heading-text);
            font-family: var(--font-mono-main);
            font-size: var(--fs-heading-small);

            @extend %terminal-title;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: purple;
                transform: translateY(50%) scaleX(0);
                transform-origin: left;
                transition: transform 0.25s ease-in-out;
            }

            &:hover {
                cursor: pointer;
                &::before {
                    transform: translateY(50%) scaleX(1);
                }
            }
        }
    }
}

.carrotTop,
.carrotBottom {
    position: absolute;
    top: 50%;
    left: 0px;
    height: 2px;
    width: 10px;
    background-color: white;
    transform-origin: right;
    transform: translate(-110%, -50%);

    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    @extend %terminal-outline
}

.carrotTop{
    animation-name: topIn;
}

.carrotBottom{
    animation-name: bottomIn;
}