@use "terminal";

.wrapper {
    z-index: 10;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    //background: linear-gradient(to bottom, rgba(var(--c-background-open),.35) 55%, rgba(0,0,0,0) 100%);
    span{
        position: relative;
    }
    ul {
        display: flex;
        text-decoration: none;
        gap: 2.5em;
        padding-right: 5%;
        li {
            position: relative;
            text-decoration: none;
            color: var(--c-terminal-text);
            font-family: var(--font-mono-main);
            font-size: var(--fs-heading-small);

            @extend %terminal-title;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: var(--c-terminal-text);
                transform: translateY(50%) scaleX(0);
                transform-origin: left;
                transition: transform 0.25s ease-in-out;

                @extend %terminal-outline;
            }

            &:hover {
                cursor: pointer;
                &::before {
                    transform: translateY(50%) scaleX(1);
                }
            }
        }
    }
}
