.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero{
    text-align: center;
    color: var(--c-heading-text);
    font-family: var(--font-mono-main);
    font-size: var(--fs-heading-large);
    margin-bottom: 15px;
}

.skillGrid{
    width: fit-content;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    column-gap: 50px;
    row-gap: 25px;
    
}