@use "terminal";

$secondOffset: 15px;
$duration: 5s;

@keyframes distort {
    0% {
        clip-path: polygon(0 101.1%, 100% 101.1%, 100% 101%, 0% 101%);
    }
    83% {
        clip-path: polygon(0 101%, 100% 101%, 100% 102%, 0% 102%);
    }
    100% {
        clip-path: polygon(0 -0.1%, 100% -0.1%, 100% 0%, 0% 0%);
    }
}


.wrapper {
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero {
    text-align: center;
    color: var(--c-heading-text);
    font-family: var(--font-mono-main);
    font-size: var(--fs-heading-large);
    margin-bottom: 25px;

    @extend %terminal-title;
}

.gridWrapper {
    position: relative;
    .distortedGrid {
        position: absolute;
        background-color: var(--c-background);
        top: 0;
        height: 100%;
        width: calc(100% + $secondOffset);
        animation: distort $duration infinite linear;
        & > :nth-child(1) {
            padding-left: $secondOffset;
        }
    }
}
